*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

img.logo{
    width: 100px;
}

.crew-members-div{
    display: flex;
    gap: 2em;
}

div.crew-member{
    width: 400px;
    border: 1px solid black;
}

img.crew-member{
    width: 100%;
}

.crew-member-name{
    text-align: center;
}