*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

img.logo{
    width: 100px;
}

nav{
    height: 100px;
    background-color: #27992d;
    margin-bottom: 50px;
}

.crew-members-div{
    display: flex;
    flex-wrap: wrap;
    gap: 1.3em;
    justify-content: center;
}

div.crew-member{
    width: 18%;
    border: 1px solid black;
}

.crew-member-img{
    width: 100%;
}

.crew-member-name{
    text-align: center;
}